@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
*{font-family:"Lato" !important;}
header{
    z-index: 1;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgb(151, 151, 151);
    
    /* box-shadow: 1px 1px 10px rgb(94, 94, 94); */
}
body{
    background-color: #9BBEC8;
}
.my-nav{
    background-color: aliceblue;
}
.logo{
    margin: 0px 0px 0px 50px;
}
.my-nav-items{
    margin: 0px 50px 0px 0px;
}
.my-nav-items li{
    margin: 010px;
}
section{
    width: 100%;
    height: 100vh;
}
.main-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(18, 129, 156);
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.about-section{
    background-color: rgb(165, 165, 165);
}

.linha2{
    display: flex;
    
}
.icon{
    margin-inline: 15vw;
    color: white;
    font-size: 5rem;
}
#b{
    color: rgb(255, 47, 47);
}
#a, #d, #c {
    color: rgb(253, 253, 107);
}

.team-section {

    margin-top: 100px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h2 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }
  
  .card h3 {
    font-size: 16px;
    color: #888;
    text-align: center;
  }
  .texttime h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    width: 30%;
    margin: 2px auto;
  
  }
  
@media screen and (max-width: 470px){
    .icon{
        margin-inline: 10vw;
    }
}
@media screen and (max-width: 314px){
    .icon{
        margin-inline: 5vw;
    }
}
