@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
*{font-family:"Lato" !important;}
body{
    background-image: url(../assets/images/Fundo.png);
}
header{
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid rgb(151, 151, 151);
    
    /* box-shadow: 1px 1px 10px rgb(94, 94, 94); */
}
label{
    font-size: 1vw;
    color: white;
}
.my-nav{
    background-color: aliceblue;
}
.logo{
    margin: 0px 0px 0px 50px;
}
.my-nav-items{
    margin: 0px 50px 0px 0px;
}
.my-nav-items li{
    margin: 10px;
}
section{
    width: 100%;
    height: 100vh;
}
.main-section{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;


    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container-main{
    width:100%;

}

.linha1{

    display: flex;   
}
.linha2{
    display: flex;   
}
.linha3{
    display: flex;   

}
.icon{
    margin-inline: 15vw;
    color: white;
    font-size: 5rem;
}
.padrao-mapa{
    width:100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.padrao-imagem{
    width: 10vw;
}
#sensor1Icon, #sensor2Icon, #sensor3Icon, #sensor4Icon, #sensor5Icon{
    font-size: 5vw;
}
 .bi-cloud-rain-fill{
    opacity: 1;
    font-size: 30px!important;
    color: rgb(118, 200, 233);
 }
.bi-house-fill{
    font-size: 50px;
    color: white;
} 

/* Estilização do Time */
.geral, .team-section h1, .team-section h2, .team-section p, .card-image {
    display: flex;
    justify-content: center;
  }
  .team-section{

    margin: 100px 0px;
    width: 100%;

  }
  .geral {
      flex-wrap: wrap;
      justify-content: space-around;
  }
  
  .team-section h1 {
    display: flex;
    font-size: 2.5vw;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    width: 30%;
    margin: 1px auto;
  }
  
  .team-section h2 {
      font-size: 1.3vw;
  }
  
  .team-section p {
      font-size: 0.9vw;
  }
  
  .card {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-top: 5vw;
      margin: 5px;
      padding: 10px;
      flex-basis: 30%;
      box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
      transition: transform 0.2s;
  }
  
  .card img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .card:hover {
      background-color: rgb(62,62,62);
      color: white;
      cursor: pointer;
      transform: scale(1.02);
      transition: all 0.2s ease;
  }
  
  @media screen and (max-width: 768px) {

    header{
        position: absolute;
    }
    .team-section h1 {
        padding: 50px;
      font-size: 6vw;
      width: 60%;
    }
  
    .team-section h2 {
      font-size: 2vw;
    }
  
    .team-section p {
      font-size: 1.4vw;
    }
  
    .card {
      flex-basis: 42%;
    }
  
    .card img {
      max-width: 58%;
    }
  }
  

  
@media screen and (max-width: 470px){
    .icon{
        margin-inline: 10vw;
    }
}
@media screen and (max-width: 314px){
    .icon{
        margin-inline: 5vw;
    }
}

/* Adicione esta classe se o sensor estiver "apagado" (valor menor que 800) */
.apagado {
    opacity: 0.2; /* Ajuste a opacidade conforme necessário */
}